*{
    margin: 0;
    padding: 0;
}

/* .conatiner{
    width: 174px;
    height: 1750px;
    border: 2px solid;
    background-image: url(hero_1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    background-color: rgb(94 , 26 , 184);
    /* background-position: top center; */
    /* background-attachment: fixed; */
    /* background-size: 344px 344px; */
    
    
/*}                                */
/* .box1{
    height: 2320px;
    width: 445px;
    background: red;
    margin: 13px;
    padding: 14px;
    border: 4px solid black;
    border-radius: 9px;
    
}
.box2{
    background-color: aqua;
    /* margin: 20px; */
    /* height: 20px;
    width: 40%;
    padding: 2px;
    border: 5px solid gray;
    box-sizing: border-box;
} */ 

/* .header{
    height: 66px;
    background: red;
    color: white;
}
.content{
    background-color: burlywood;
    height: 90vh;
    margin: 34px;
}
.center{
    text-align: center;
    margin: 23px;
} */

/* p{
    background-color: red;
    width: 134px;
    height: 145px;
    text-decoration: underline;
} */
/* .navbar{
    height: 70px;
    background: black;
    color: white;
}
.right{
    height: 60vh;
    background: red;
    display: inline-block;
    width: 50%;
    height: 90px;
}
.left{
    height: 60vh;
    background: green;
    display: inline-block;
    width: 50%;
    height: 90px;
} */
/* .container{
    width: 344vh;
    height: 45vw;
    background-color: red;
    min-height: 50vh;
} */
/* li{
    display: inline;
}
header{
    background-color: black;
    color: white;
}
p{
    text-align: center;
    border: 2px solid red;
}
.cotainer{
    background-color: aqua;
    height: 50vh;
    width: 50vw;
    margin: auto;
} */

/* .container{
    display: flex; */
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
/* } */

/* .box1{
height: 234px;
width: 345px;
background-color: blue;
border: 2px solid  black;
order: 4;


}
.box2{
    height: 234px;
    width: 345px;
    background-color: crimson;
    border: 2px solid  black;
    
}
.box3{
    height: 234px;
    width: 345px;
    background-color: crimson;
    border: 2px solid  black;
    
}
.box4{
    height: 234px;
    width: 345px;
    background-color: crimson;
    border: 2px solid  black;
    
} */
/* .container{
    display: grid;
    background-color: yellow;
    /* grid-row-gap: 9px;
    grid-column-gap: 9px; */
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: auto auto auto auto;
    grid-gap:  9px;
    grid-column: 1/3;
}
.box{
    background-color: aquamarine;
    border: 2px solid red;
} */ 

/* .container{
    background-color: red;
    height: 34vh;
}
@media screen and (max-width:800px){
    body{
        background: brown;
        
    }
    
} */
/* ul{
    display: inline-grid;
    grid-template-columns: auto auto;
}
ul li {
    list-style: none;
    margin: 0 20px;
}
header{
    background-color: black;
    color: white;
} */
/* .Container{
    background-color: red;
    height: 455px;

}
.box{
    border: 2px solid black; */
    /* transform: translate(34px)  */
    /* transform: scaleX(8);
    transform: scaleY(8); */
    /* transform: skew(4deg ,6deg); */
    


    
