*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    }
    header{
        position: sticky;
        width: 100%;
    }
    nav{
    background: #3F51B5;
    height: 80px;
    width: 100%;
    
    }
    label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    line-height: 0 80px;
    font-weight: bold;
    }
    
    nav ul{
    float: right;
    margin-right: 20px;
    }
    nav ul li {
    display: inline-block;
    line-height: 80%;
    margin: 0 5px;
    }
    nav ul li a {
    color: white;
    padding: 7px 13px;
    border-radius: 3px;
    font-size: 17px;
    text-decoration: none;

    }
    .card{
        background: #fbfbfb;
        border-radius: 8px;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
        height: 600px;
        margin: 6rem auto 8.1rem auto;
        width: 600px;
    }

    
    h1{
        text-align: center;
        padding: 20px;
    }
    p{
        margin-left: 40px;
    }

    .main-div{
        display: flex;
        gap: 20px;

        
    }
    #log_btn_fb{
    background: #3F51B5;
    height: 100px;
        width : 200px;
        color: white;
        
       
    }
    #log_btn_google{
    background: #3F51B5;
    height: 100px;
        width : 200px;
        color: white;

    }
    
    .option{
        text-align: center;
        
    }
    
    #input_mob{
        height: 60px;
    width : 500px;
    border: 1px solid black;
border-radius: 8px;
margin-left: 45px;
font-size: 15px;
    
    }
    #input_password{
        height: 60px;
    width : 500px;
border-radius: 8px;
 border: 1px solid black;
margin-left: 45px;
font-size: 15px;


    }
    #sign_btn{
        height: 60px;
        width : 500px;
        border-radius: 8px;
 border: 1px solid black;
    background: #3F51B5;
        color: white;
margin-left: 45px;
font-size: 20px;

    }
    .password_option_div{
        display: flex;
        
    }

