*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    }
    .content{
        
        width: 100%;
    }
    header{
        position: sticky;
        width: 100%;
    }
    nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
    
    }
    label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    line-height: 0 80px;
    font-weight: bold;
    }
    
    nav ul{
    float: right;
    margin-right: 20px;
    }
    nav ul li {
    display: inline-block;
    line-height: 80%;
    margin: 0 5px;
    }
    nav ul li a {
    color: white;
    padding: 7px 13px;
    border-radius: 3px;
    font-size: 17px;
    }
    
    .firstsection {
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    }
    
    
    .home{
   display: flex;
   flex-direction: row;
   gap:20px;
   border: 1px solid black;
   border-radius: 10px;
   width: 90vw;
   padding: 20px;
   justify-content: space-between;
   align-items: center;
   background-color: white;
   color: black;


    }
    .home img{
        width: 50%;
        height: 100%;
    }
    .PrimaryButton{
        background: blue;
        padding: 4px;
        border-radius: 5px;
        color: white;
    cursor: pointer;
     border-radius: 8px; 
     text-decoration: none;
     font-size: 15px;
     border: 2px solid #555555;


    }
    .flex-group{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .secondsection{
     background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    }
    .about{
        display: flex;
        flex-direction: row;
        gap:20px;
        border: 1px solid black;
        border-radius: 10px;
        width: 90vw;
        padding: 20px;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        color: black;   
    }

    .flex-groups{
        display: flex;
        flex-direction: column;
        gap: 10px;  
    }
    .about img{
        width: 50%;
        height: 100%;
        float: right;
    }
    
    .gridsection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: white;
        
        gap: 13px;
        row-gap: 13px;
        column-gap: 13px;
        text-align: center;
    
        margin-top: 10px;
        padding: 20px;
}
        .flex-cards {
        display: flex;
        flex-direction:column;
        gap:16px;
        overflow: hidden;
        border:1px solid black;
        border-radius: 10px;
        
    }
.content-div{
   display: flex;
   flex-direction: row;
   gap:20px;
   border: 1px solid black;
   border-radius: 10px;
   width: 90vw;
   margin: auto;
   padding: 20px;
   justify-content: space-between;
   align-items: center;
   background-color: white;
   color: black;

   background-color: white;
}
.btn{
    background: blue;
    padding: 4px;
    border-radius: 5px;
    color: white;
cursor: pointer;
 border-radius: 8px; 
 text-decoration: none;
 font-size: 15px;
 border: 2px solid #555555;
} 
#input_box{
    height: 42px;
    width : 300px;
}
#input_box1{
    height: 42px;
    width : 300px;
}
#input_box2{
    height: 42px;
    width : 300px;
}

    
    
    



        
