*{
    padding: 0;
    margin: 0;
}
.flexbox{
    background: #eee;
      
      height: 200px;
      /* flex-direction: row-reverse; */
      /* flex-direction: column;
      flex-direction: column-reverse; */
      margin: 50px;
      padding: 10px;
      display: flex;
      /* flex-wrap: wrap;
      flex-direction: column; */
      border: 2px solid black;
      flex-flow: column wrap;
      justify-content: center;
      /* justify-content: end; */
      /* justify-content: space-between; */
      /* justify-content: space-around; */
      /* justify-content: space-evenly; */
      /* align-items: center; */
      /* align-items: flex-end; */
      /* align-items: flex-start; */
      /* align-items: stretch; */
      /* align-items: baseline; */
      flex-basis: 100px;
}
.flex_1{
    background: brown;
    flex-basis: 200px;
    flex-shrink: 1;
}
.flex_2{
    background:  red;
}
.flex_3{
    background: yellow;
}
.flex_4{
    background: green;
}
.flex_5{
    background: pink;
}
.flex_6{
    background: orange;
}
.flex_7{
    background: skyblue;
}
.flex_8{
    background: blueviolet;
}