*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
  display: grid;
  grid-template-columns:  1fr 1fr;
  grid-auto-rows: 75px 75px 75px;
  grid-gap: 10px;
  width: 700px;
      height: 800px;
      border: 2px solid black;
      align-items: center;
  justify-content: center;
  margin: auto;  
  border-radius: 1rem;  
  position: relative;
}
@media screen and (min-width: 600px){

}

    
